@keyframes slide-down {
    from {margin-top: -42px;}
    to {margin-top: 0px;}
}

@keyframes slide-up {
    from {margin-top: 0px;}
    to {margin-top: -42px;}
}

.action_view>.action>.c_action_timer>.myButton_podrobnee {
  overflow-y: hidden;
  height: 18px;
}

.action_view>.action>.c_action_timer>.myButton_podrobnee>.cert_purchased {
  display: block;
  height: 30px;
  margin-top: -42px;
  margin-bottom: 10px;
  animation-name: slide-up;
  animation-duration: 0.5s;
}

.action_view>.action>.c_action_timer>.myButton_podrobnee>.cert_purchased>.small {
  font-size: 13px;
  margin-left: -5px;
}

.action_view>.action:hover>.c_action_timer>.myButton_podrobnee>.cert_purchased {
  margin-top: -3px;
  animation-name: slide-down;
  animation-duration: 0.5s;
}
