﻿ul {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
}

.main_top_block_top_menu .top_menu_element a,
.main_top_block_top_menu .top_menu_element a:hover {
    color: inherit !important;
    text-decoration: none;
}

body.wait {
    opacity: .5;
    filter: alpha(opacity=50);
}

    body.wait,
    body.wait * {
        cursor: wait !important;
    }

.status_loading_signin, .status_ready_signin {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -1em;
    border-bottom: none;
    z-index: 2;
}

.status_loading_signin {
    background: transparent url(../images/loader-black.gif) center no-repeat;
}

.inter_block_reg_in .status_loading_signin {
    background: transparent url(../images/loader-white.gif) center no-repeat;
}

.status_ready_signin {
    background: transparent url(../images/status_ready-black.gif) center no-repeat;
}

.inter_block_reg_in .status_ready_signin {
    background: transparent url(../images/status_ready.gif) center no-repeat;
}

.appl_error {
    border-color: red;
}

.appl_error_message {
    position: absolute;
    top: 100%;
    left: -10px;
    right: 0;
    /*background: #f1f8f9;*/
    background: #DEC628;
    /*border: 1px solid #70c6f7;*/
    padding: 15px 40px 20px 40px;
    margin: 10px 0 0 0;
    z-index: 300;
    font-size: 100%;
    width: 97%;
}

    .appl_error_message .pointer {
        position: absolute;
        display: block;
        top: -7px;
        left: 20%;
        border: 7px solid transparent;
        border-top-width: 0;
        border-bottom-color: #DEC628;
        *top: -24px;
    }

        .appl_error_message .pointer:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: -8px;
            border: 8px solid transparent;
            border-top-width: 0;
            border-bottom-color: #DEC628;
            z-index: -1;
        }

.icon_close {
    background-image: url(../images/icon_close.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 23px;
    margin: 5px;
}

    .icon_close:hover {
        background-image: url(../images/icon_close_hover.png);
        cursor: pointer;
    }

    .general_error_message {
        display: none;
    }
