/*errors style*/

/*input type=text*/

.errow_field, .errow_field:hover, .errow_field.focus {
    border-color: #f14736!important;
    position: relative;
    letter-spacing: -0.06em;
    display: inline-block;
}

    .errow_field input:not([type="submit"]), .errow_field .b-card__selection {
        border-color: #f14736!important;
    }

    .errow_field .number_select {
        border-color: #f14736;
    }
/*обход бага в верстке*/
.b-action__container.errow_field {
    border-color: #dbdbdb!important;
}

.error_message {
    color: #f14736;
    font-size: 15px;
    line-height: 17px;
}

    .error_message.error_abs_left {
        width: 170px;
        position: absolute;
        height: 120%;
        top: -5px;
        left: 100%;
        padding: 0 0 0 5px;
        vertical-align: middle;
    }

    .error_message.error_abs_bottom {
        position: absolute;
        text-align: right;
        top: 100%;
        right: 14px;
        padding: 15px 0 0 0;
        vertical-align: middle;
    }

    .error_message.error_float_left {
        width: 150px;
        height: 120%;
        display: inline-block;
        padding: 0 0 0 5px;
        vertical-align: middle;
        margin: 0 -20px 0 0;
        position: relative;
    }

    .error_message.error_float_left_mini {
        display: inline-block;
        padding: 0 0 0 5px;
        vertical-align: middle;
        margin: 0 -20px 0 0;
        position: relative;
    }

.error_full_pos {
    padding: 5px 0 15px 0;
    width: 100%;
    float: left;
}

.error_message_inner {
    display: table;
    height: 100%;
}

    .error_message_inner span {
        display: table-cell;
        vertical-align: middle;
    }

        .error_message_inner span a {
            line-height: 23px;
        }

/* blcak comments */
.comment_field, .comment_field:hover, .comment_field.focus {
    position: relative;
    letter-spacing: -0.06em;
    display: inline-block;
}


.comment_message {
    color: #000;
    font-size: 15px;
    line-height: 17px;
}

    .comment_message.comment_abs_left {
        width: 170px;
        position: absolute;
        height: 120%;
        top: -5px;
        left: 100%;
        padding: 0 0 0 5px;
        vertical-align: middle;
    }

    .comment_message.comment_float_left {
        width: 176px;
        height: 120%;
        display: inline-block;
        padding: 0 0 0 5px;
        vertical-align: middle;
        margin: 0 -20px 0 0;
        position: relative;
    }

.comment_full_pos {
    padding: 5px 0 15px 0;
    width: 100%;
    float: left;
}

.comment_message_inner {
    display: table;
    height: 100%;
}

    .comment_message_inner span {
        display: table-cell;
        vertical-align: middle;
    }

        .comment_message_inner span a {
            line-height: 23px;
        }


/*_login.css*/

.inter_block {
    background: #fff;
    border: 1px solid #dcdcdc;
    float: left;
    width: 100%;
}

.inter_block_inner {
    padding: 48px;
    float: left;
}

.inter_block_login {
    width: 417px;
    float: left;
}

.inter_block_login_in {
    padding-right: 46px;
}

.inter_block_reg {
    width: 437px;
    float: left;
    border-left: 1px solid #dcdcdc;
}

.inter_block_reg_in {
    padding-left: 46px;
}

.inter_block_tit {
    font-size: 36px;
    font-family: "DINPro-Light";
    letter-spacing: -0.06em;
    padding-bottom: 20px;
}

.inter_block_text {
    padding-bottom: 20px;
}

.e-button--inter {
    width: 275px;
    height: 60px;
    font-size: 26px;
    font-family: 'DINPro-Light';
}

.inter_block_form {
    position: relative;
}

    .inter_block_form input {
        border: none;
        background: none;
        color: #000;
        font-size: 20px;
        line-height: 20px;
        font-family: 'DINPro', Arial, Helvetica, sans-serif;
        letter-spacing: -0.04em;
        font-weight: normal;
        width: 230px;
        padding: 2px 8px;
        margin: 2px auto auto 33px;
        outline: 0;
    }

.inter_block_form_phone {
    border: 1px solid #dcdcdc;
    width: 285px;
    height: 34px;
    margin-bottom: 7px;
    background: url(../../images/phone.gif) no-repeat 10px 7px;
    position: relative;
}

.inter_block_form_pass {
    border: 1px solid #dcdcdc;
    width: 285px;
    height: 34px;
    background: url(../../images/pass.gif) no-repeat 8px 7px;
    margin-bottom: 7px;
    position: relative;
}

    .inter_block_form_phone:after,
    .inter_block_form_pass:after {
        content: '';
        height: 19px;
        width: 1px;
        background: #dcdcdc;
        position: absolute;
        top: 7px;
        left: 34px;
    }

.e-button--reg {
    position: absolute;
    top: 44px;
    left: 294px;
}

/*error*/

.inter-error {
    width: 310px;
    -webkit-box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);
    -moz-box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);
    box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);
    background: #fff;
    border: 1px solid #dcdcdc;
    position: absolute;
    top: 100%;
    left: 14px;
    background: #fff;
    z-index: 450;
    margin-top: 8px;
}

.inter-error-pass {
    width: 274px;
}

.inter-error:after {
    content: '';
    width: 8px;
    height: 7px;
    background: transparent url(../images/info_coner.png) no-repeat right bottom;
    position: absolute;
    top: -7px;
    left: -1px;
}

.inter-error-close {
    width: 22px;
    height: 22px;
    background: transparent url(../images/icon_close.png) no-repeat 0 0;
    display: block;
    cursor: pointer;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
}

    .inter-error-close:hover {
        background: transparent url(../images/icon_close_hover.png) no-repeat 0 0;
    }

.inter-error-cont {
    padding: 25px;
}

.inter-error-tit {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 15px;
}

.inter-error-text {
    font-size: 15px;
    padding-bottom: 15px;
}

.inter-error-info {
    border-top: 1px solid #dcdcdc;
    margin: 0 -25px;
    padding: 15px 25px 0 75px;
}

.inter-error-phone .inter-error-info {
    background: transparent url(../../images/er_mail.png) no-repeat 25px 15px;
}

.inter-error-pass .inter-error-info {
    background: transparent url(../images/er_pass.png) no-repeat 25px 15px;
    height: 38px;
}

.inter-error-info-line {
    line-height: 36px;
}