@font-face {
	font-family: 'u2000';
	src: url("../fonts/universal/u2000-webfont.eot");
	src: url("../fonts/universal/u2000-webfont.eot@#iefix") format("embedded-opentype"), url("../fonts/universal/u2000-webfont.woff") format("woff"), url("../fonts/universal/u2000-webfont.ttf") format("truetype"), url("../fonts/universal/u2000-webfont.svg#universaliaregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
.u2000 {
	font-family: u2000;
}