@font-face {
	font-family: 'DINPro';
	src: url('../fonts/dinproregular.eot');
	src: url('../fonts/dinproregular.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinproregular.woff') format('woff'),  url('../fonts/dinproregular.ttf') format('truetype'),  url('../fonts/dinproregular.svg#dinproregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dinproblack';
	src: url('../fonts/dinproblack.eot');
	src: url('../fonts/dinproblack.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinproblack.woff') format('woff'),  url('../fonts/dinproblack.ttf') format('truetype'),  url('../fonts/dinproblack.svg#dinproblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dinproblackitalic';
	src: url('../fonts/dinproblackitalic.eot');
	src: url('../fonts/dinproblackitalic.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinproblackitalic.woff') format('woff'),  url('../fonts/dinproblackitalic.ttf') format('truetype'),  url('../fonts/dinproblackitalic.svg#dinproblackitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/dinprobold.eot');
	src: url('../fonts/dinprobold.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinprobold.woff') format('woff'),  url('../fonts/dinprobold.ttf') format('truetype'),  url('../fonts/dinprobold.svg#dinprobold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'dinprobolditalic';
	src: url('../fonts/dinprobolditalic.eot');
	src: url('../fonts/dinprobolditalic.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinprobolditalic.woff') format('woff'),  url('../fonts/dinprobolditalic.ttf') format('truetype'),  url('../fonts/dinprobolditalic.svg#dinprobolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dinproitalic';
	src: url('../fonts/dinproitalic.eot');
	src: url('../fonts/dinproitalic.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinproitalic.woff') format('woff'),  url('../fonts/dinproitalic.ttf') format('truetype'),  url('../fonts/dinproitalic.svg#dinproitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-Light';
	src: url('../fonts/dinprolight.eot');
	src: url('../fonts/dinprolight.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinprolight.woff') format('woff'),  url('../fonts/dinprolight.ttf') format('truetype'),  url('../fonts/dinprolight.svg#dinprolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dinprolightitalic';
	src: url('../fonts/dinprolightitalic.eot');
	src: url('../fonts/dinprolightitalic.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinprolightitalic.woff') format('woff'),  url('../fonts/dinprolightitalic.ttf') format('truetype'),  url('../fonts/dinprolightitalic.svg#dinprolightitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/dinpromedium.eot');
	src: url('../fonts/dinpromedium.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinpromedium.woff') format('woff'),  url('../fonts/dinpromedium.ttf') format('truetype'),  url('../fonts/dinpromedium.svg#dinpromedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dinpromediumitalic';
	src: url('../fonts/dinpromediumitalic.eot');
	src: url('../fonts/dinpromediumitalic.eot@#iefix') format('embedded-opentype'),  url('../fonts/dinpromediumitalic.woff') format('woff'),  url('../fonts/dinpromediumitalic.ttf') format('truetype'),  url('../fonts/dinpromediumitalic.svg#dinpromediumitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}	
	
	