.form-block input {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 45px;
  position: relative;

  background: #ffffff;
  color: #000000;
  font-size: 25px;
  font-family: 'DINPro-Light';
  letter-spacing: -0.05em;
  line-height: 40px;
  font-weight: normal;
  padding: 2px 10px;
  margin-top: 10px;
  padding-right: 10px;
  width: 350px;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list, .errorlist {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 1em;
  line-height: 1em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled, .errorlist {
  opacity: 1;
}
