.logo_pay{
	width: 128px;
	height: 60px;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: inline-block;
	cursor: pointer;
}
.logo_pay:hover{
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #dbdbdb;	
}
.logo_pay:active{
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-style: solid;
	border-color: #dbdbdb;	
}
.logo_disable{
	background-color: rgba(0,0,0,.3);
	border: 1px solid #dbdbdb!important;	
	position: relative;
}
.logo_disable:after{
	content: '';
	position: absolute;
	width: 128px;
	height: 60px;
	top:0;
	left:0;
	background:#fff;
	opacity: 0.7;
	zoom:1;
	filter: alpha(Opacity=70); /* Прозрачность в IE */
	display: none\0/;
}
.logo_disable:hover .logo_disable_note{
	display: block;
}

.logo_disable_note{
	position: absolute;
	top:60%;
	left:50%;
	border:1px solid #dcdcdc;
	background: #fff;
	opacity: 1;
	-webkit-box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);
	-moz-box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);
	box-shadow: 7px 7px 1px 1px rgba(233, 233, 233, 0.6);	
	background: #fff;
	z-index: 5;	
	padding:10px;
	width:160px;
	display: none;
}
.logo_disable_note:after{
	content:'';
	width:8px;
	height:7px;
	background: transparent url(../../images/info_coner.png) no-repeat right bottom;
	position: absolute;
	left:-1px;
	top:-7px;
}
.logo_beeline{
	background: url(../../images/tab_logos/logo_beeline.jpg) center no-repeat;	
}