/* platezhi_central_inner_tab_payments_history payments_history { */
#platezhi_central_inner_tab_payments_history .payments_history {
    padding: 14px 0 10px;
    overflow: hidden;
}

.payments_history {
    /*cursor: pointer;*/
}

    .payments_history.active, .payments_history:hover {
        background: #fbfbfb;
    }

    .payments_history .image {
        display: block;
        float: left;
        padding: 1px 0 0 0;
        border: 1px solid #dedede;
        margin-left: 14px;
        width: 74px;
        height: 35px;

    }

    .payments_history .platezh_hist_info_bloc {
        display: block;
        float: left;
        padding: 1px 0 0 11px;
        color: #000;
        width: 176px;
        line-height: 17px;
    }

    .payments_history .platezh_hist_status {
        display: block;
        float: left;
        padding: 0;
        width: 183px;
        padding-top: 1px;
    }

        .payments_history .platezh_hist_status ins {
            height: 16px;
            width: 16px;
            display: block;
            float: left;
        }

    .payments_history.true .platezh_hist_status ins {
        background: url(../images/status.png) top no-repeat;
    }

    .payments_history.false .platezh_hist_status ins {
        background: url(../images/status.png) center no-repeat;
    }

    .payments_history.during .platezh_hist_status ins {
        background: url(../images/status.png) bottom no-repeat;
    }

    .payments_history .platezh_hist_status div {
        display: block;
        float: left;
        color: #000;
        margin: -2px 0 0;
        padding: 0 0 0 4px;
    }

    .payments_history.false .platezh_hist_status div {
        color: #ca0014;
    }

    .payments_history .platezh_hist_from {
        display: block;
        float: left;
        color: #999999;
        width: 170px;
        padding: 0 8px 0 0;
    }

    .payments_history .platezh_hist_sum {
        display: block;
        float: left;
        overflow: hidden;
        width: 126px;
        padding-top: 5px;
    }

        .payments_history .platezh_hist_sum div {
            display: block;
            float: left;
            font-size: 24px;
            line-height: 24px;
            width: 117px;
            text-align: right;
        }

            .payments_history .platezh_hist_sum div span {
                font-size: 15px;
                line-height: 15px;
                letter-spacing: -0.04em;
            }

        .payments_history .platezh_hist_sum .kzt {
            margin: 0 0 0 5px;
            font-size: 19px;
        }

    .payments_history .platezh_hist_print {
        display: block;
        float: left;
        width: 38px;
        height: 38px;
        margin: 0 14px 0 10px;
        cursor: pointer;
    }

    .payments_history.true .platezh_hist_print, .payments_history.during .platezh_hist_print {
        background: url(../images/print_ico_38x38.png) center no-repeat;
    }

        .payments_history.true .platezh_hist_print:hover, .payments_history.during .platezh_hist_print:hover {
            background: url(../images/print_ico_38x38_active.png) center no-repeat;
        }

        .payments_history.during .platezh_hist_print {
            display: none;
        }

    .payments_history.false .platezh_hist_print {
        background: url(../images/print_ico_38x38_false.png) center no-repeat;
    }

        .payments_history.false .platezh_hist_print:hover {
            background: url(../images/print_ico_38x38_false_active.png) center no-repeat;
        }

    .payments_history .repeat_btn button {
        font-family: 'DINPro', Arial;
        font-weight: normal;
        letter-spacing: -0.04em;
        height: 35px;
        width: 113px;
        font-size: 15px;
        line-height: 15px;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        cursor: pointer;
        float: left;
        display: block;
    }

    .payments_history.false .repeat_btn button, .payments_history.during .repeat_btn button {
        display: none;
    }
/* } platezhi_central_inner_tab_payments_history payments_history */
/* } platezhi_central_inner_tab_payments_history */

.new_platezh {
    background: url(../images/new_platezh_bg.gif) 0 14px no-repeat !important;
}

    .new_platezh.active, .new_platezh:hover {
        background: url(../images/new_platezh_bg.gif) 0 14px no-repeat #fbfbfb !important;
    }