﻿.logo_beelinemobile {background: url(../images/tab_logos/logo_beelinemobile.jpg) center no-repeat;} 
.logo_kcellmobile {background: url(../images/tab_logos/logo_kcellmobile.jpg) center no-repeat;}  

.logo_alseco[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_alseco.jpg) center no-repeat;}   
.logo_alseco[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_alseco.jpg) center no-repeat;}       
           
.logo_almatv {background: url(../images/tab_logos/logo_almatv.jpg) center no-repeat;}     
.logo_pathwordmobile {background: url(../images/tab_logos/logo_pathwordmobile.jpg) center no-repeat;}  
.logo_tele2mobile {background: url(../images/tab_logos/logo_tele2mobile.jpg) center no-repeat;}  
.logo_activmobile {background: url(../images/tab_logos/logo_activmobile.jpg) center no-repeat;} 
.logo_kaztelecom {background: url(../images/tab_logos/logo_kaztelecom.jpg) center no-repeat;}

.logo_ivc[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ivc.jpg) center no-repeat;}               
.logo_ivc[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ivc.jpg) center no-repeat;}   
           
.logo_icon_tv {background: url(../images/tab_logos/logo_icon_tv.jpg) center no-repeat;}   
.logo_digitaltv {background: url(../images/tab_logos/logo_digitaltv.jpg) center no-repeat;}
.logo_citymobile {background: url(../images/tab_logos/logo_citymobile.jpg) center no-repeat;}
.logo_jet {background: url(../images/tab_logos/logo_jet.jpg) center no-repeat;}  
.logo_dalacommobile {background: url(../images/tab_logos/logo_dalacommobile.jpg) center no-repeat;} 
.logo_dos {background: url(../images/tab_logos/logo_dos.jpg) center no-repeat;}   
.logo_vegaline {background: url(../images/tab_logos/logo_vegaline.jpg) center no-repeat;}  
              
.logo_beeline_home_inet[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_beeline_home_inet.jpg) center no-repeat;}  
.logo_beeline_home_inet[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_beeline_home_inet.jpg) center no-repeat;}
              
.logo_kazhomenets {background: url(../images/tab_logos/logo_kazhomenets.jpg) center no-repeat;}  
.logo_vkontakte {background: url(../images/tab_logos/logo_vkontakte.jpg) center no-repeat;} 
               
.logo_zheskazganenergosbyt[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_zheskazganenergosbyt.jpg) center no-repeat;} 
.logo_zheskazganenergosbyt[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_zheskazganenergosbyt.jpg) center no-repeat;}
               
.logo_erc_astana[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_erc_astana.jpg) center no-repeat;} 
.logo_erc_astana[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_erc_astana.jpg) center no-repeat;} 
               
.logo_webmoneywmz {background: url(../images/tab_logos/logo_webmoneywmz.jpg) center no-repeat;}
.logo_yandex_money {background: url(../images/tab_logos/logo_yandex_money.jpg) center no-repeat;} 

.logo_communsbyt[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_communsbyt.jpg) center no-repeat;}  
.logo_communsbyt[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_communsbyt.jpg) center no-repeat;}
              
.logo_shygysenergotraid_electricity[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_shygysenergotraid_electricity.jpg) center no-repeat;}                
.logo_shygysenergotraid_electricity[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_shygysenergotraid_electricity.jpg) center no-repeat;}      

.logo_oskemenvodokanal[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_oskemenvodokanal.jpg) center no-repeat;}                
.logo_oskemenvodokanal[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_oskemenvodokanal.jpg) center no-repeat;} 


.logo_kolesa {background: url(../images/tab_logos/logo_kolesa.jpg) center no-repeat;}                
.logo_kanal43 {background: url(../images/tab_logos/logo_kanal43.jpg) center no-repeat;}                

.logo_energocenterkostanay[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_energocenterkostanay.jpg) center no-repeat;}
.logo_energocenterkostanay[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_energocenterkostanay.jpg) center no-repeat;}
              
.logo_transtelekom {background: url(../images/tab_logos/logo_transtelekom.jpg) center no-repeat;}                

.logo_gorkomtrans[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gorkomtrans.jpg) center no-repeat;}
.logo_gorkomtrans[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gorkomtrans.jpg) center no-repeat;}
               
.logo_kazatomprom[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_kazatomprom.jpg) center no-repeat;} 
.logo_kazatomprom[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_kazatomprom.jpg) center no-repeat;} 
             
.logo_iforward {background: url(../images/tab_logos/logo_iforward.jpg) center no-repeat;}                
.logo_nursatmetromax {background: url(../images/tab_logos/logo_nursatmetromax.jpg) center no-repeat;}                
.logo_nursatdialup {background: url(../images/tab_logos/logo_nursatdialup.jpg) center no-repeat;}                
.logo_almatv_aksu {background: url(../images/tab_logos/logo_almatv_aksu.jpg) center no-repeat;}                
.logo_almatv_aktau {background: url(../images/tab_logos/logo_almatv_aktau.jpg) center no-repeat;}                
.logo_almatv_aktobe {background: url(../images/tab_logos/logo_almatv_aktobe.jpg) center no-repeat;}                
.logo_almatv_astana {background: url(../images/tab_logos/logo_almatv_astana.jpg) center no-repeat;}                
.logo_alamtv_atyrau {background: url(../images/tab_logos/logo_almatv_atyrau.jpg) center no-repeat;}                
.logo_almatv_zyranovsk {background: url(../images/tab_logos/logo_almatv_zyranovsk.jpg) center no-repeat;}                
.logo_almatv_karaganda {background: url(../images/tab_logos/logo_almatv_karaganda.jpg) center no-repeat;}                
.logo_almatv_kostanai {background: url(../images/tab_logos/logo_almatv_kostanai.jpg) center no-repeat;}                
.logo_almatv_pavlodar {background: url(../images/tab_logos/logo_almatv_pavlodar.jpg) center no-repeat;}                
.logo_almatv_semei {background: url(../images/tab_logos/logo_almatv_semei.jpg) center no-repeat;}                
.logo_almatv_taldykorgan {background: url(../images/tab_logos/logo_almatv_taldykorgan.jpg) center no-repeat;}                
.logo_almatv_taraz {background: url(../images/tab_logos/logo_almatv_taraz.jpg) center no-repeat;}                
.logo_almatv_uralsk {background: url(../images/tab_logos/logo_almatv_uralsk.jpg) center no-repeat;}                
.logo_almatv_ustkam {background: url(../images/tab_logos/logo_almatv_ustkam.jpg) center no-repeat;} 
.logo_almatv_shymkent {background: url(../images/tab_logos/logo_almatv_shymkent.jpg) center no-repeat;} 
.logo_almatv_ekibastuz {background: url(../images/tab_logos/logo_almatv_ekibastuz.jpg) center no-repeat;}                 
.logo_digitaltv_aktau {background: url(../images/tab_logos/logo_digitaltv_aktau.jpg) center no-repeat;}                
.logo_digitaltv_astana {background: url(../images/tab_logos/logo_digitaltv_astana.jpg) center no-repeat;}                
.logo_digitaltv_karaganda {background: url(../images/tab_logos/logo_digitaltv_karaganda.jpg) center no-repeat;}                
.logo_digitaltv_pavlodar {background: url(../images/tab_logos/logo_digitaltv_pavlodar.jpg) center no-repeat;}                
.logo_digitaltv_aktobe {background: url(../images/tab_logos/logo_digitaltv_aktobe.jpg) center no-repeat;}                
.logo_digitaltv_kzylorda {background: url(../images/tab_logos/logo_digitaltv_kzylorda.jpg) center no-repeat;}                
.logo_digitaltv_kokshetau {background: url(../images/tab_logos/logo_digitaltv_kokshetau.jpg) center no-repeat;}                
.logo_digitaltv_taraz {background: url(../images/tab_logos/logo_digitaltv_taraz.jpg) center no-repeat;}                
.logo_digitaltv_ustkam {background: url(../images/tab_logos/logo_digitaltv_ustkam.jpg) center no-repeat;}                
.logo_digitaltv_uralsk {background: url(../images/tab_logos/logo_digitaltv_uralsk.jpg) center no-repeat;}                
.logo_digitaltv_shymkent {background: url(../images/tab_logos/logo_digitaltv_shymkent.jpg) center no-repeat;}                
.logo_digitaltv_atyrau {background: url(../images/tab_logos/logo_digitaltv_atyrau.jpg) center no-repeat;}                

.logo_shygysenergotraid_penny[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_shygysenergotraid_penny.jpg) center no-repeat;}                
.logo_shygysenergotraid_penny[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_shygysenergotraid_penny.jpg) center no-repeat;}                
             
.logo_krisha {background: url(../images/tab_logos/logo_krisha.jpg) center no-repeat;}                
.logo_olimp {background: url(../images/tab_logos/logo_olimp.jpg) center no-repeat;}                
.logo_mamba_ru {background: url(../images/tab_logos/logo_mamba_ru.jpg) center no-repeat;}                
.logo_worldoftanks {background: url(../images/tab_logos/logo_worldoftanks.jpg) center no-repeat;}                
.logo_alpari {background: url(../images/tab_logos/logo_alpari.jpg) center no-repeat;}                
.logo_dozory {background: url(../images/tab_logos/logo_dozory.jpg) center no-repeat;}                
.logo_tankionline {background: url(../images/tab_logos/logo_tankionline.jpg) center no-repeat;}                
.logo_dijialmaty {background: url(../images/tab_logos/logo_dijialmaty.jpg) center no-repeat;}                
.logo_diji_aktau {background: url(../images/tab_logos/logo_diji_aktau.jpg) center no-repeat;}                
.logo_diji_astana {background: url(../images/tab_logos/logo_diji_astana.jpg) center no-repeat;}                
.logo_diji_karaganda {background: url(../images/tab_logos/logo_diji_karaganda.jpg) center no-repeat;}                
.logo_diji_taraz {background: url(../images/tab_logos/logo_diji_taraz.jpg) center no-repeat;}                
.logo_diji_uralsk {background: url(../images/tab_logos/logo_diji_uralsk.jpg) center no-repeat;}                
.logo_icon_inet {background: url(../images/tab_logos/logo_icon_inet.jpg) center no-repeat;}                
.logo_icon_phone {background: url(../images/tab_logos/logo_icon_phone.jpg) center no-repeat;}                

.logo_mulservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_mulservice.jpg) center no-repeat;} 
.logo_mulservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_mulservice.jpg) center no-repeat;} 
               
.logo_ecohomeservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ecohomeservice.jpg) center no-repeat;} 
.logo_ecohomeservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ecohomeservice.jpg) center no-repeat;}
               
.logo_gorgaz_service[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gorgaz_service.jpg) center no-repeat;}
.logo_gorgaz_service[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gorgaz_service.jpg) center no-repeat;}
                
.logo_aes_vozmesh {background: url(../images/tab_logos/logo_aes_vozmesh.jpg) center no-repeat;}                
.logo_aes_otoplenie {background: url(../images/tab_logos/logo_aes_otoplenie.jpg) center no-repeat;}                
.logo_aes_platuslug {background: url(../images/tab_logos/logo_aes_platuslug.jpg) center no-repeat;}                
.logo_aes_ekspluatras {background: url(../images/tab_logos/logo_aes_ekspluatras.jpg) center no-repeat;}                
.logo_aes_energia {background: url(../images/tab_logos/logo_aes_energia.jpg) center no-repeat;}                
.logo_aes_energiaobshie {background: url(../images/tab_logos/logo_aes_energiaobshie.jpg) center no-repeat;}                
.logo_aes_energiaakt {background: url(../images/tab_logos/logo_aes_energiaakt.jpg) center no-repeat;}                
.logo_aes_energia3faz {background: url(../images/tab_logos/logo_aes_energia3faz.jpg) center no-repeat;}                
.logo_aes_gorvoda {background: url(../images/tab_logos/logo_aes_gorvoda.jpg) center no-repeat;}                

.logo_gorelseti[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gorelseti.jpg) center no-repeat;}                
.logo_gorelseti[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gorelseti.jpg) center no-repeat;} 

.logo_zholayshi[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_zholayshi.jpg) center no-repeat;}                
.logo_zholayshi[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_zholayshi.jpg) center no-repeat;}   

.logo_petropavlsu[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_petropavlsu.jpg) center no-repeat;}   
.logo_petropavlsu[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_petropavlsu.jpg) center no-repeat;}   
             
.logo_specavtotransport[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_specavtotransport.jpg) center no-repeat;} 
.logo_specavtotransport[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_specavtotransport.jpg) center no-repeat;}
               
.logo_forfait_plomba[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_forfait_plomba.jpg) center no-repeat;}     
.logo_forfait_plomba[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_forfait_plomba.jpg) center no-repeat;}           

.logo_forfait_podkluchenie[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_forfait_podkluchenie.jpg) center no-repeat;}
.logo_forfait_podkluchenie[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_forfait_podkluchenie.jpg) center no-repeat;}  
              
.logo_forfait_ustanovka {background: url(../images/tab_logos/logo_forfait_ustanovka.jpg) center no-repeat;}                

.logo_riddertez[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_riddertez.jpg) center no-repeat;} 
.logo_riddertez[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_riddertez.jpg) center no-repeat;} 
               
.logo_arek_energo {background: url(../images/tab_logos/logo_arek_energo.jpg) center no-repeat;}                

.logo_astanagazservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_astanagazservice.jpg) center no-repeat;} 
.logo_astanagazservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_astanagazservice.jpg) center no-repeat;} 
               
.logo_burabaisu[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_burabaisu.jpg) center no-repeat;}     
.logo_burabaisu[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_burabaisu.jpg) center no-repeat;}
           
.logo_ktek[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ktek.jpg) center no-repeat;} 
.logo_ktek[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ktek.jpg) center no-repeat;}
               
.logo_oskementartip {background: url(../images/tab_logos/logo_oskementartip.jpg) center no-repeat;}                

.logo_reimstroiservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_reimstroiservice.jpg) center no-repeat;}
.logo_reimstroiservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_reimstroiservice.jpg) center no-repeat;}
           
.logo_sevkazenergo {background: url(../images/tab_logos/logo_sevkazenergo.jpg) center no-repeat;}                

.logo_sogrintez[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_sogrintez.jpg) center no-repeat;}  
.logo_sogrintez[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_sogrintez.jpg) center no-repeat;}  
              
.logo_termotranzit[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_termotranzit.jpg) center no-repeat;}   
.logo_termotranzit[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_termotranzit.jpg) center no-repeat;}   
             
.logo_asibo {background: url(../images/tab_logos/logo_asibo.jpg) center no-repeat;}                
.logo_otis {background: url(../images/tab_logos/logo_otis.jpg) center no-repeat;}                
.logo_chocolifeaccounts {background: url(../images/tab_logos/logo_chocolifeaccounts.jpg) center no-repeat;}                
.logo_chocolifemeorders {background: url(../images/tab_logos/logo_chocolifemeorders.jpg) center no-repeat;}  
              
.logo_gp_vodokanal[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gp_vodokanal.jpg) center no-repeat;}  
.logo_gp_vodokanal[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gp_vodokanal.jpg) center no-repeat;} 
              
.logo_tazalyk2000[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_tazalyk2000.jpg) center no-repeat;}      
.logo_tazalyk2000[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_tazalyk2000.jpg) center no-repeat;} 
          
.logo_sarancommunservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_sarancommunservice.jpg) center no-repeat;} 
.logo_sarancommunservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_sarancommunservice.jpg) center no-repeat;} 
               
.logo_balhashenergo {background: url(../images/tab_logos/logo_balhashenergo.jpg) center no-repeat;}    
            
.logo_koksheenergoservice[rel="ru-RU"]  {background: url(../images/tab_logos/ru-RU/logo_koksheenergoservice.jpg) center no-repeat;} 
.logo_koksheenergoservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_koksheenergoservice.jpg) center no-repeat;} 
               
.logo_pavlodarvodokanal[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_pavlodarvodokanal.jpg) center no-repeat;} 
.logo_pavlodarvodokanal[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_pavlodarvodokanal.jpg) center no-repeat;}
               
.logo_pavlodarlift {background: url(../images/tab_logos/logo_pavlodarlift.jpg) center no-repeat;}                
.logo_pes_aksu_res {background: url(../images/tab_logos/logo_pes_aksu_res.jpg) center no-repeat;}                
.logo_pes_aktorgay_res {background: url(../images/tab_logos/logo_pes_aktorgay_res.jpg) center no-repeat;}                
.logo_pes_bayanaul_res {background: url(../images/tab_logos/logo_pes_bayanaul_res.jpg) center no-repeat;}                
.logo_pes_aksu {background: url(../images/tab_logos/logo_pes_aksu.jpg) center no-repeat;}                
.logo_pes_pavlodar {background: url(../images/tab_logos/logo_pes_pavlodar.jpg) center no-repeat;}                
.logo_pes_ekibaz_res {background: url(../images/tab_logos/logo_pes_ekibaz_res.jpg) center no-repeat;}                
.logo_pes_zhelez_res {background: url(../images/tab_logos/logo_pes_zhelez_res.jpg) center no-repeat;}                
.logo_pes_irtish_res {background: url(../images/tab_logos/logo_pes_irtish_res.jpg) center no-repeat;}                
.logo_pes_kachir_res {background: url(../images/tab_logos/logo_pes_kachir_res.jpg) center no-repeat;}                
.logo_pes_lebyazh_res {background: url(../images/tab_logos/logo_pes_lebyazh_res.jpg) center no-repeat;}                
.logo_pes_mai_res {background: url(../images/tab_logos/logo_pes_mai_res.jpg) center no-repeat;}                
.logo_pes_lenin_res {background: url(../images/tab_logos/logo_pes_lenin_res.jpg) center no-repeat;}                
.logo_pes_pavlodar_res {background: url(../images/tab_logos/logo_pes_pavlodar_res.jpg) center no-repeat;}                
.logo_pes_uspen_res {background: url(../images/tab_logos/logo_pes_uspen_res.jpg) center no-repeat;}                
.logo_pes_scherbak_res {background: url(../images/tab_logos/logo_pes_scherbak_res.jpg) center no-repeat;}                
.logo_nalognatransport {background: url(../images/tab_logos/logo_nalognatransport.jpg) center no-repeat;}                
.logo_sevkazenergo_akkaiin_res {background: url(../images/tab_logos/logo_sevkazenergo_akkaiin_res.jpg) center no-repeat;}                
.logo_sevkazenergo_blagovesh_usee {background: url(../images/tab_logos/logo_sevkazenergo_blagovesh_usee.jpg) center no-repeat;}                
.logo_sevkazenergo_vozvish_rpb {background: url(../images/tab_logos/logo_sevkazenergo_vozvish_rpb.jpg) center no-repeat;}                
.logo_sevkazenergo_esil_usee {background: url(../images/tab_logos/logo_sevkazenergo_esil_usee.jpg) center no-repeat;}                
.logo_sevkazenergo_zhambil_res {background: url(../images/tab_logos/logo_sevkazenergo_zhambil_res.jpg) center no-repeat;}                
.logo_sevkazenergo_korneev_rpb {background: url(../images/tab_logos/logo_sevkazenergo_korneev_rpb.jpg) center no-repeat;}                
.logo_sevkazenergo_kizilzhar_res {background: url(../images/tab_logos/logo_sevkazenergo_kizilzhar_res.jpg) center no-repeat;}                
.logo_sevkazenergo_zhumabai_res {background: url(../images/tab_logos/logo_sevkazenergo_zhumabai_res.jpg) center no-repeat;}                
.logo_sevkazenergo_mamlut_res {background: url(../images/tab_logos/logo_sevkazenergo_mamlut_res.jpg) center no-repeat;}                
.logo_sevkazenergo_sokolov_usee {background: url(../images/tab_logos/logo_sevkazenergo_sokolov_usee.jpg) center no-repeat;}                
.logo_sevkazenergo_timiryaz_res {background: url(../images/tab_logos/logo_sevkazenergo_timiryaz_res.jpg) center no-repeat;}                
.logo_avon {background: url(../images/tab_logos/logo_avon.jpg) center no-repeat;}                
.logo_be_smart {background: url(../images/tab_logos/logo_be_smart.jpg) center no-repeat;}                
.logo_faberlic {background: url(../images/tab_logos/logo_faberlic.jpg) center no-repeat;}                
.logo_marykay {background: url(../images/tab_logos/logo_marykay.jpg) center no-repeat;}                
.logo_oriflame {background: url(../images/tab_logos/logo_oriflame.jpg) center no-repeat;}                

.logo_ppavlodarenergosbyt_common[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ppavlodarenergosbyt_common.jpg) center no-repeat;}                
.logo_ppavlodarenergosbyt_common[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ppavlodarenergosbyt_common.jpg) center no-repeat;}                

.logo_sevkazenergo_common[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_sevkazenergo_common.jpg) center no-repeat;}                
.logo_sevkazenergo_common[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_sevkazenergo_common.jpg) center no-repeat;}                

.logo_shahtintez {background: url(../images/tab_logos/logo_shahtintez.jpg) center no-repeat;}                

.logo_moduskz_kokshetau[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_moduskz_kokshetau.jpg) center no-repeat;}                
.logo_moduskz_kokshetau[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_moduskz_kokshetau.jpg) center no-repeat;}

.logo_moduskz_pavlodar[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_moduskz_pavlodar.jpg) center no-repeat;}                
.logo_moduskz_pavlodar[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_moduskz_pavlodar.jpg) center no-repeat;}

.logo_moduskz_karagandy[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_moduskz_karagandy.jpg) center no-repeat;}                
.logo_moduskz_karagandy[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_moduskz_karagandy.jpg) center no-repeat;}  

.logo_karagandysu[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_karagandysu.jpg) center no-repeat;}   
.logo_karagandysu[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_karagandysu.jpg) center no-repeat;}  
             
.logo_balhashuniversal[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_balhashuniversal.jpg) center no-repeat;} 
.logo_balhashuniversal[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_balhashuniversal.jpg) center no-repeat;} 
               
.logo_moduskz_petropavl[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_moduskz_petropavl.jpg) center no-repeat;}
.logo_moduskz_petropavl[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_moduskz_petropavl.jpg) center no-repeat;}
                
.logo_gkpnaphv[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gkpnaphv.jpg) center no-repeat;} 
.logo_gkpnaphv[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gkpnaphv.jpg) center no-repeat;}
               
.logo_digitaltv_hromtau {background: url(../images/tab_logos/logo_digitaltv_hromtau.jpg) center no-repeat;}                

.logo_rsz[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_rsz.jpg) center no-repeat;}  
.logo_rsz[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_rsz.jpg) center no-repeat;}              

.logo_kostanaisu {background: url(../images/tab_logos/logo_kostanaisu.jpg) center no-repeat;}  
             
.logo_almatyenergosbyt[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_almatyenergosbyt.jpg) center no-repeat;} 
.logo_almatyenergosbyt[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_almatyenergosbyt.jpg) center no-repeat;} 
               
.logo_alseco2 {background: url(../images/tab_logos/logo_alseco2.jpg) center no-repeat;}
.logo_megaline {background: url(../images/tab_logos/logo_megaline.jpg) center no-repeat;}   

.logo_kabelnyesetikostanay[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_kabelnyesetikostanay.jpg) center no-repeat;}                
.logo_kabelnyesetikostanay[rel="kk-KZ"] {background: url(../images/tab_logos/logo_kabelnyesetikostanay.jpg) center no-repeat;} 

.logo_narodnidomophon[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_narodnidomophon.jpg) center no-repeat;} 
.logo_narodnidomophon[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_narodnidomophon.jpg) center no-repeat;} 
               
.logo_batysenergo[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_batysenergo.jpg) center no-repeat;}  
.logo_batysenergo[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_batysenergo.jpg) center no-repeat;} 
              
.logo_uk_teplovie_seti[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_uk_teplovie_seti.jpg) center no-repeat;}
.logo_uk_teplovie_seti[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_uk_teplovie_seti.jpg) center no-repeat;}
                
.logo_karagandyzhilysbyt[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_karagandyzhilysbyt.jpg) center no-repeat;} 
.logo_karagandyzhilysbyt[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_karagandyzhilysbyt.jpg) center no-repeat;} 
               
.logo_eshko {background: url(../images/tab_logos/logo_eshko.jpg) center no-repeat;}              
.logo_botagozds {background: url(../images/tab_logos/logo_botagozds.jpg) center no-repeat;}                
.logo_karlygashds {background: url(../images/tab_logos/logo_karlygashds.jpg) center no-repeat;}                
.logo_saltanatds {background: url(../images/tab_logos/logo_saltanatds.jpg) center no-repeat;}                
.logo_snegurochkads {background: url(../images/tab_logos/logo_snegurochkads.jpg) center no-repeat;}                
.logo_berezkads {background: url(../images/tab_logos/logo_berezkads.jpg) center no-repeat;}                

.logo_aktobetransenergo[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aktobetransenergo.jpg) center no-repeat;}  
.logo_aktobetransenergo[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aktobetransenergo.jpg) center no-repeat;}
              
.logo_hitkz {background: url(../images/tab_logos/logo_hitkz.jpg) center no-repeat;}                
.logo_belijveter {background: url(../images/tab_logos/logo_belijveter.jpg) center no-repeat;}                
.logo_stepnogorskvodokanal {background: url(../images/tab_logos/logo_stepnogorskvodokanal.jpg) center no-repeat;}                
.logo_kostanaisu_kvit {background: url(../images/tab_logos/logo_kostanaisu_kvit.jpg) center no-repeat;}                

.logo_aes[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aes.jpg) center no-repeat;}  
.logo_aes[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aes.jpg) center no-repeat;}  
              
.logo_alatauenergotraidlimited[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_alatauenergotraidlimited.jpg) center no-repeat;}                
.logo_alatauenergotraidlimited[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_alatauenergotraidlimited.jpg) center no-repeat;}                

.logo_altel4g {background: url(../images/tab_logos/logo_altel4g.jpg) center no-repeat;}                
.logo_odnoklassniki {background: url(../images/tab_logos/logo_odnoklassniki.jpg) center no-repeat;}                

.logo_aktobeenergosnab[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aktobeenergosnab.jpg) center no-repeat;}  
.logo_aktobeenergosnab[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aktobeenergosnab.jpg) center no-repeat;} 
              
.logo_astanamegatel {background: url(../images/tab_logos/logo_astanamegatel.jpg) center no-repeat;}                
.logo_otautv {background: url(../images/tab_logos/logo_otautv.jpg) center no-repeat;}                

.logo_akbulakvoda[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_akbulakvoda.jpg) center no-repeat;}   
.logo_akbulakvoda[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_akbulakvoda.jpg) center no-repeat;} 
             
.logo_id_tv_id_net {background: url(../images/tab_logos/logo_id_tv_id_net.jpg) center no-repeat;}                
.logo_almatygaz {background: url(../images/tab_logos/logo_almatygaz.jpg) center no-repeat;}                
.logo_digitaltv_zhanaozen {background: url(../images/tab_logos/logo_digitaltv_zhanaozen.jpg) center no-repeat;}                

                
.logo_www_kn_kz {background: url(../images/tab_logos/logo_www_kn_kz.jpg) center no-repeat;}                
.logo_tarazenergocenter {background: url(../images/tab_logos/logo_tarazenergocenter.jpg) center no-repeat;}                
             

               
.logo_ntv_plus {background: url(../images/tab_logos/logo_ntv_plus.jpg) center no-repeat;}                

.logo_ksk_aksunkar[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ksk_aksunkar.jpg) center no-repeat;}  
.logo_ksk_aksunkar[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ksk_aksunkar.jpg) center no-repeat;}
              
.logo_ksk_kepildik[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ksk_kepildik.jpg) center no-repeat;}                
.logo_ksk_kepildik[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ksk_kepildik.jpg) center no-repeat;}

.logo_aktaugazservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aktaugazservice.jpg) center no-repeat;} 
.logo_aktaugazservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aktaugazservice.jpg) center no-repeat;} 
               
.logo_stepnogorskerz[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_stepnogorskerz.jpg) center no-repeat;}                
.logo_stepnogorskerz[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_stepnogorskerz.jpg) center no-repeat;}  

.logo_atyrauenergosatu[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_atyrauenergosatu.jpg) center no-repeat;}                
.logo_atyrauenergosatu[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_atyrauenergosatu.jpg) center no-repeat;}

.logo_erz_kzylorda[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_erz_kzylorda.jpg) center no-repeat;}                
.logo_erz_kzylorda[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_erz_kzylorda.jpg) center no-repeat;}

.logo_skype {background: url(../images/tab_logos/logo_skype.jpg) center no-repeat;}                

.logo_domophonaktau[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_domophonaktau.jpg) center no-repeat;}
.logo_domophonaktau[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_domophonaktau.jpg) center no-repeat;}
                
.logo_semeivodokanal[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_semeivodokanal.jpg) center no-repeat;} 
.logo_semeivodokanal[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_semeivodokanal.jpg) center no-repeat;} 
               
.logo_infotelecom {background: url(../images/tab_logos/logo_infotelecom.jpg) center no-repeat;} 
               

.logo_tarazsu[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_tarazsu.jpg) center no-repeat;}                
.logo_tarazsu[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_tarazsu.jpg) center no-repeat;}

.logo_kyzylordatez {background: url(../images/tab_logos/logo_kyzylordatez.jpg) center no-repeat;}             
            
.logo_topkupon_balance {background: url(../images/tab_logos/logo_topkupon_balance.jpg) center no-repeat;}                
.logo_steam {background: url(../images/tab_logos/logo_steam.jpg) center no-repeat;}                
           
.logo_flightkz {background: url(../images/tab_logos/logo_flightkz.jpg) center no-repeat;}                
            
             
.logo_autotax_byvin {background: url(../images/tab_logos/logo_autotax_byvin.jpg) center no-repeat;}                
              

.logo_bazistelecom[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_bazistelecom.jpg) center no-repeat;}                
.logo_bazistelecom[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_bazistelecom.jpg) center no-repeat;} 

.logo_bazistelecom_tel {background: url(../images/tab_logos/logo_bazistelecom_tel.jpg) center no-repeat;}                
.logo_blizzard_orders {background: url(../images/tab_logos/logo_blizzard_orders.jpg) center no-repeat;}                
.logo_blizzard_account {background: url(../images/tab_logos/logo_blizzard_account.jpg) center no-repeat;}                
.logo_almatv_kokshetau {background: url(../images/tab_logos/logo_almatv_kokshetau.jpg) center no-repeat;}                
.logo_oraltazaservice {background: url(../images/tab_logos/logo_oraltazaservice.jpg) center no-repeat;}   

.logo_shahtinsk_teplo_energo[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_shahtinsk_teplo_energo.jpg) center no-repeat;}
.logo_shahtinsk_teplo_energo[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_shahtinsk_teplo_energo.jpg) center no-repeat;}

.logo_energo_ortalyk_shymkent[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_energo_ortalyk_shymkent.jpg) center no-repeat;}
.logo_energo_ortalyk_shymkent[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_energo_ortalyk_shymkent.jpg) center no-repeat;}

.logo_arek_energosbyt_regional[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_arek_energosbyt_regional.jpg) center no-repeat;}
.logo_arek_energosbyt_regional[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_arek_energosbyt_regional.jpg) center no-repeat;}

.logo_mirkuponov_zakaz {background: url(../images/tab_logos/logo_mirkuponov_zakaz.jpg) center no-repeat;}
.logo_topkupon_zakaz {background: url(../images/tab_logos/logo_topkupon_zakaz.jpg) center no-repeat;}
.logo_avon_products {background: url(../images/tab_logos/logo_avon_products.jpg) center no-repeat;}
.logo_ticketon_kz {background: url(../images/tab_logos/logo_ticketon_kz.jpg) center no-repeat;}

.logo_oskementazalyk[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_oskementazalyk.jpg) center no-repeat;}
.logo_oskementazalyk[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_oskementazalyk.jpg) center no-repeat;}

.logo_oraltazaservice[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_oraltazaservice.jpg) center no-repeat;}
.logo_oraltazaservice[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_oraltazaservice.jpg) center no-repeat;}

.logo_rek[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_rek.jpg) center no-repeat;}
.logo_rek[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_rek.jpg) center no-repeat;}

.logo_aimak_aktobe[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aimak_aktobe.jpg) center no-repeat;}
.logo_aimak_aktobe[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aimak_aktobe.jpg) center no-repeat;}

.logo_aimakuralsk[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aimakuralsk.jpg) center no-repeat;}   
.logo_aimakuralsk[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aimakuralsk.jpg) center no-repeat;} 
            
.logo_aimakkostanai[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aimakkostanai.jpg) center no-repeat;}                
.logo_aimakkostanai[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aimakkostanai.jpg) center no-repeat;} 

.logo_aimakaktau[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aimakaktau.jpg) center no-repeat;}                
.logo_aimakaktau[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aimakaktau.jpg) center no-repeat;} 

.logo_alsi {background: url(../images/tab_logos/logo_alsi.jpg) center no-repeat;}                

.logo_batyssuarnasy[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_batyssuarnasy.jpg) center no-repeat;}                
.logo_batyssuarnasy[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/ogo_batyssuarnasy.jpg) center no-repeat;}

.logo_teplotsentral[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_teplotsentral.jpg) center no-repeat;} 
.logo_teplotsentral[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_teplotsentral.jpg) center no-repeat;} 
               
.logo_id_tv_net_tel {background: url(../images/tab_logos/logo_id_tv_net_tel.jpg) center no-repeat;}                

.logo_kaztelecom_cabletv {background: url(../images/tab_logos/logo_kaztelecom_cabletv.jpg) center no-repeat;}                
.logo_kaztelecom_account {background: url(../images/tab_logos/logo_kaztelecom_account.jpg) center no-repeat;}                
.logo_megaline_account {background: url(../images/tab_logos/logo_megaline_account.jpg) center no-repeat;}                

.logo_aimakatyrau[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_aimakatyrau.jpg) center no-repeat;}
.logo_aimakatyrau[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_aimakatyrau.jpg) center no-repeat;}
                
.logo_erzkapchagai[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_erzkapchagai.jpg) center no-repeat;} 
.logo_erzkapchagai[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_erzkapchagai.jpg) center no-repeat;} 
               
.logo_hostkz {background: url(../images/tab_logos/logo_hostkz.jpg) center no-repeat;}                
.logo_aviabilet_kz {background: url(../images/tab_logos/logo_aviabilet_kz.jpg) center no-repeat;}                
.logo_avokzal_kz {background: url(../images/tab_logos/logo_avokzal_kz.jpg) center no-repeat;}                
.logo_ochkarik_kz {background: url(../images/tab_logos/logo_ochkarik_kz.jpg) center no-repeat;}                
.logo_smarttrade_kz {background: url(../images/tab_logos/logo_smarttrade_kz.jpg) center no-repeat;}                
.logo_wigwam_kz {background: url(../images/tab_logos/logo_wigwam_kz.jpg) center no-repeat;}                
.logo_avpv_kz {background: url(../images/tab_logos/logo_avpv_kz.jpg) center no-repeat;}                
.logo_ps_kz {background: url(../images/tab_logos/logo_ps_kz.jpg) center no-repeat;}                
.logo_unihost_kz {background: url(../images/tab_logos/logo_unihost_kz.jpg) center no-repeat;}                
.logo_hoster_kz {background: url(../images/tab_logos/logo_hoster_kz.jpg) center no-repeat;}                
.logo_profitbet_kz {background: url(../images/tab_logos/logo_profitbet_kz.jpg) center no-repeat;}                
.logo_iz_ruk_v_ruki_astana {background: url(../images/tab_logos/logo_iz_ruk_v_ruki_astana.jpg) center no-repeat;}                
.logo_iz_ruk_v_ruki_karagandy {background: url(../images/tab_logos/logo_iz_ruk_v_ruki_karagandy.jpg) center no-repeat;}                
.logo_rabota_segodnya_astana {background: url(../images/tab_logos/logo_rabota_segodnya_astana.jpg) center no-repeat;}                
.logo_rabota_segodnya_karaganda {background: url(../images/tab_logos/logo_rabota_segodnya_karaganda.jpg) center no-repeat;}                
.logo_alfakz {background: url(../images/tab_logos/logo_alfakz.jpg) center no-repeat;}                

.logo_zhiger_su_abai[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_zhiger_su_abai.jpg) center no-repeat;}                
.logo_zhiger_su_abai[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_zhiger_su_abai.jpg) center no-repeat;}

.logo_xsolla_mair_ru {background: url(../images/tab_logos/logo_xsolla_mair_ru.jpg) center no-repeat;}                
.logo_xsolla_games {background: url(../images/tab_logos/logo_xsolla_mair_ru.jpg) center no-repeat;}
               
.logo_modus_temirtau[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_modus_temirtau.jpg) center no-repeat;} 
.logo_modus_temirtau[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_modus_temirtau.jpg) center no-repeat;} 

               
.logo_smart_lift {background: url(../images/tab_logos/logo_smart_lift.jpg) center no-repeat;}

.logo_gaipenaltybydriverlicense {background: url(../images/tab_logos/logo_gaipenaltybydriverlicense.jpg) center no-repeat;}
.logo_gaipenaltybyprotocolnumber {background: url(../images/tab_logos/logo_gaipenaltybyprotocolnumber.jpg) center no-repeat;} 
.logo_testalsecogaibygovnumber {background: url(../images/tab_logos/logo_testalsecogaibygovnumber.jpg) center no-repeat;}
  
.logo_gaipenaltybygovnumberandtechpassport[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_gaipenaltybygovnumberandtechpassport.jpg) center no-repeat;}    
.logo_gaipenaltybygovnumberandtechpassport[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_gaipenaltybygovnumberandtechpassport.jpg) center no-repeat;}

.logo_fairplay {background: url(../images/tab_logos/logo_fairplay.jpg) center no-repeat;}     

.logo_ayala[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_ayala.jpg) center no-repeat;}
.logo_ayala[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_ayala.jpg) center no-repeat;} 

.logo_do_miloserdie[rel="ru-RU"] {background: url(../images/tab_logos/ru-RU/logo_do_miloserdie.jpg) center no-repeat;} 
.logo_do_miloserdie[rel="kk-KZ"] {background: url(../images/tab_logos/kk-KZ/logo_do_miloserdie.jpg) center no-repeat;} 

