.themodal-lock {
    /* when modal is opened we're removing scrollbars from the main content */
    overflow: hidden;
}

.themodal-overlay {
    /* overlay will stay fixed and will take all the space available */
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    /* if modal content doesn't fit inside the overlay, display scrollbars */
    overflow: auto;

    /* allow one-finger iPad scrolling */
    -webkit-overflow-scrolling: touch;

}

/* fix for iPad glitches */
.themodal-overlay > * {
    -webkit-transform: translateZ(0px);
}

.themodal-overlay {
    background: rgba(0, 0, 0, 0.7);
    /* IE6–IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
    zoom: 1;
}

/* modal box style, can be anything you want */
.modal {
  background: #eee;
  width: 760px;
  margin: 150px auto;
  border: 1px solid #665;
  min-height:300px;
  padding: 30px 30px 30px 30px;
  border-radius: 4px;
}

.modal2 {
  background: #eee;
  width: 760px;
  margin: 150px auto;
  border: 1px solid #665;
  min-height: 400px;
  padding: 30px 30px 30px 30px;
  border-radius: 4px;
}

.modal .close {
    float: right;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
}

.modal .close:hover {
    color: #ABABAB !important;
}